﻿@{
    ViewBag.Title = "UploadFotos";
}

<<h2> UploadFile </h2>

@using (Html.BeginForm("UploadFotos", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>@ViewBag.Message</h1>
    <div>
        <input type="hidden" name="ProdutoId" value="@ViewBag.ProdutoId" />
        <input type="file" name="file" multiple />

        <input type="submit" value="Enviar" />


    </div>


}