﻿@model Exercicio2.Models.SubCategoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubCategoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.NomeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.NomeCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoriaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
