﻿@model Exercicio2.Models.Produto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Produto</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label col-md-2" for="Nome">Descrição</label>
            <div class="col-md-10">
                @Html.DropDownList("Categorias", null, "Selecione", htmlAttributes: new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoriaId, "Sub Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="SubCategoriaId" name="SubCategoriaId" class="form-control">
                    <option value="#">Selecione Categoria</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#Categorias").change(function () {
            var idCat = $('select[name=Categorias]').val();

            $.ajax({
                type: "GET",
                url: "/Produtos/Json/" + idCat,
                dataType: "json",
                success: function (data) {
                    $("#SubCategoriaId").empty();
                    $("#SubCategoriaId").append('<option value>Selecione...</option>');
                    $.each(data, function (index, element) {
                        $("#SubCategoriaId").append('<option value="' + element.id + '">' + element.Nome + '</option>');
                    });

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("deu algum erro");
                }
            });
        });
    </script>
}
