﻿@model Exercicio2.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<style>
    .imgTamanho {
        width: 100px;
        height: 100px;
    }
</style>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
</div>
<div class="row">

    @foreach (var item in Model.Fotos)
    {
        <div class="col-sm-4 col-xs-6 col-lg-2">
            <img src="~/UploadedFotos/@(item.Nome)" class="imgTamanho img-responsive" />
        </div>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
