﻿@model IEnumerable<Exercicio2.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    .imgTamanho {
        width: 70px;
        height: 70px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>



            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoria.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/UploadedFotos/@(item.Fotos.FirstOrDefault()?.Nome)" class="imgTamanho img-circle img-responsive" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProdutoId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProdutoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProdutoId }) |
                    @Html.ActionLink("Upload", "UploadFotos", "Upload", new { id = item.ProdutoId }, null)
                </td>
            </tr>
        }

    </table>
</div>
